.my-menu {
  $button-size: 32px;
  $tooltip-size: 12px;
  position: relative;
  &-button {
    overflow: hidden;
    width: $button-size;
    height: $button-size;
    border-radius: $button-size / 2;
    border: 3px solid $white;
    transition: border-color 200ms ease-in-out;
    &.is-active,
    &:hover {
      border-color: $blue;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-content {
    @include pos-center-x;
    top: $button-size + $tooltip-size + 8px;
    border-radius: 4px;
    box-shadow: $dropdown-shadow;
    &::before,
    &::after {
      @include pos-center-x;
      top: -#{$tooltip-size * 2};
      display: block;
      content: '';
      width: 0;
      height: 0;
      border-top: $tooltip-size solid transparent;
      border-right: 10px solid transparent;
      border-bottom: $tooltip-size solid transparent;
      border-left: 10px solid transparent;
    }
    &::before {
      border-bottom-color: $border;
    }
    &::after {
      top: -#{$tooltip-size * 2 - 2px};
      border-bottom-color: $white;
    }
  }
  &-list {
    padding: 8px;
    width: 200px;
    background-color: $white;

    border: 1px solid $border;
  }
  &-item {
    a,
    button {
      @include flexbox(start);
      padding: 0 8px;
      width: 100%;
      height: 44px;
      border-radius: 2px;
      &:hover {
        background-color: $background;
      }
    }
  }
}
