.order-form {
  margin-top: 20px;
  margin-bottom: 40px;
  .order-inputs,
  .order-checkouts,
  .order-summary {
    margin-bottom: 20px;
  }
  .order-inputs {
    .select-group {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
  .order-checkouts {
    .checkout-item {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
  .order-summary {
    @include flexbox(between);
    dt {
      @include text-style(13, $dark);
      font-weight: 700;
    }
  }
  .button-group {
    @include flexbox;
    button {
      width: 50%;
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}
