.product-carousel {
  position: relative;
  &-slider {
    margin: 0 -#{$grid-margin};
  }
  &-thumbnail {
    @include pos-center-x;
    bottom: 16px;
  }
  .thumbnail-list {
    @include flexbox;
  }
  .thumbnail-item {
    @include flexbox;
    margin: 0 4px;
    transition: transform 100ms ease-in-out, opacity 100ms ease-in-out;
    &.tns-nav-active {
      button {
        transform: scale(1.3333);
        opacity: 1;
      }
    }
    button {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $white;
      opacity: 0.7;
    }
    img {
      display: none;
    }
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  @include responsive(T) {
    position: static;
    padding-right: 30px;
    &-slider {
      overflow: hidden;
      margin: 0 0 8px 0;
      border-radius: 4px;
    }
    &-thumbnail {
      position: static;
      transform: none;
    }
    .thumbnail-list {
      justify-content: start;
    }
    .thumbnail-item {
      margin: 0;
      &:not(:last-child) {
        margin-right: 8px;
      }
      &.tns-nav-active {
        button {
          transform: none;
          border: 2px solid $blue;
        }
      }
      button {
        @include flexbox;
        overflow: hidden;
        width: 56px;
        height: 56px;
        border-radius: 4px;
        opacity: 1;
      }
      img {
        display: block;
        width: 56px;
        height: 56px;
      }
    }
  }
  @include responsive(D) {
    @include flexbox(end, start);
    flex-direction: row-reverse;
    &-slider {
      width: 500px;
      height: 500px;
    }
    &-thumbnail {
      margin-right: 8px;
    }
    .thumbnail-list {
      flex-direction: column;
    }
    .thumbnail-item {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 8px;
      }

      button {
        width: 75px;
        height: 75px;
      }
      img {
        width: 75px;
        height: 75px;
      }
    }
  }
}
