.product-spec {
  position: relative;
  overflow-y: hidden;
  padding-top: 20px;
  height: 470px;

  &.is-open {
    height: auto;
    .button-wrapper {
      display: none;
    }
  }
  .button-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 20px;
    width: 100%;
    background-color: $white;
    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      height: 64px;
      background-image: linear-gradient(to top, $white 0%, transparent 100%);
    }
    button {
      width: 100%;
    }
  }
  .product-table {
    margin-top: 20px;
  }
  figure {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  @include responsive(T) {
    .product-table {
      padding-top: 40px;
    }
  }
}
