.product-section {
  padding-bottom: 20px;
  &-devider {
    margin: 0 -15px; //TODO: grid constant로 빼기
    height: 8px;
    background-color: $border;
  }
  @include responsive(T) {
    width: 100%;
    max-width: 692px;
    padding-bottom: 80px;
    margin: 0 auto;
  }
  @include responsive(D) {
    margin-left: 0;
  }
}
