.gnb {
  position: relative;
  border-bottom: 1px solid $border;
  .logo {
    @include pos-center;
    a {
      display: block;
    }
    img {
      width: auto;
      height: 20px;
    }
  }

  &-wrapper {
    @include flexbox(between);
    height: 50px;
  }

  &-right {
    .button-group {
      @include flexbox(end);
    }
    .gnb-icon-button.is-search {
      margin-right: 4px;
    }
  }
  @include responsive(T) {
    &-wrapper {
      height: 80px;
    }
    &-left {
      @include flexbox(start);
    }
    &-right {
      @include flexbox(end);
      .button-group {
        margin-right: 24px;
        .gnb-icon-button {
          margin-right: 8px;
        }
      }
    }
    .logo {
      position: static;
      transform: translate(0, 0);
      margin-right: 32px;
      img {
        height: 24px;
      }
    }
    .btn-primary {
      width: 88px;
      i {
        margin-left: 4px;
      }
    }
  }
  @include responsive(D) {
    &-right {
      .input-group {
        margin-right: 24px;
        width: 264px;
      }
    }
  }
}
