/*
*  MOBILE(<768px) ------------------------
* fixture                        sm
* # of columns                   4
* gutter                         20px
* margin                         5px
* container-size                 100% - (5px * 2)
*/

/*
* fixture                        md
*  TABLET(>768px) ------------------------
* # of columns                   12
* gutter                         20px
* margin                         30px
* container-size                 100% - (30px * 2)
* max-container-size             960px
*/

/*
* fixture                        lg
*  DESKTOP(>1200px) ------------------------
* # of columns                   12
* gutter                         20px
* unit                           75px
* margin                         auto
* container-size                 1140px
* max-container-size             1140px
*/
.container {
  width: 100%;
  padding: 0 $sm-margin;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
[class^='col-'] {
  padding: 0 $gutter / 2;
}
@for $i from 1 through $sm-columns {
  .col-sm-#{$i} {
    width: percentage($i/$sm-columns);
  }
}
@include responsive(T) {
  .container {
    max-width: $md-max-container;
    padding: 0 $md-margin;
  }
  @for $i from 1 through $md-columns {
    .col-md-#{$i} {
      width: percentage($i/$md-columns);
    }
  }
}
@include responsive(D) {
  .container {
    max-width: $lg-max-container;
    padding: 0;
  }
  @for $i from 1 through $lg-columns {
    .col-lg-#{$i} {
      width: ($lg-unit + $gutter) * $i;
    }
  }
}
