.lnb {
  $lnb-link-padding: 8px;

  @include no-scrollbar;
  overflow-x: auto;
  background-color: $white;

  &-list {
    @include flexbox(start);
    margin-left: -#{$grid-margin};
    padding: 0 ($grid-margin - $lnb-link-padding);
    border-bottom: 1px solid $border;
    white-space: nowrap;
    // width: max-content;
    // max-content : 자식 요소들이 가지는 너비 합의 최댓값
  }
  &-item {
    &.is-active {
      a {
        color: $blue;
        border-color: $blue;
      }
    }
    a {
      @include inline-flexbox;
      @include text-style(13, $dark);
      padding: 0 $lnb-link-padding;
      height: $lnb-height-sm;
      font-weight: 700;
      border-bottom: 2px solid transparent;
      &:hover {
        color: $blue;
      }
    }
  }
  @include responsive(T) {
    height: $lnb-height-md;
    overflow-x: visible;
    border-bottom: 1px solid $border;
    &-list {
      margin-left: 0;
      padding: 0;
      border-bottom: 0;
    }
    &-item {
      > a {
        @include text-style(14);
        height: $lnb-height-md;
      }
    }
  }
}
