$black: #000000;
$a: #b2b3b9;
$a: #3f4150;
$a: #8c8d96;
$a: #f7f8fa;
$white: #ffffff;
$blue: #3da5f5;
$blue-dark: #3186c4;
$blue-light: #ecf6fe;
$pink: #f86d7d;
$green: #22c58b;
$s: #e0e2e7;
$s: #191a20;
